<div class="container justified">
    <img src="assets/logo.png" alt="Logo PolyArena" class="logo" draggable="false" />
    <div class="justified">
        <button class="mainPageButton button" routerLink="/join">{{ 'home_page.joindre' | translate }}</button>
        <button class="mainPageButton button" routerLink="/game-creation">{{ 'home_page.creer' | translate }}</button>
        <button class="mainPageButton button" routerLink="/admin">{{ 'home_page.administrer' | translate }}</button>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">{{ 'home_page.equipe' | translate }} 206</h4>
        <p class="team-name">
            <span>Rafai Adam</span>, <span>Brière Simon</span>, <span>Chauret-Décoste Scotty</span>, <span>Faraoni William</span>,
            <span>Jamoussi Ilyes</span>, <span>Kanga Jaures</span>
        </p>
    </footer>
</div>
